{% extends "base.html" %}

{% block content %}

<div class="card-body">

    <h2>About This Project</h2>

    <hr>

    <p>
        This Employee Management System is built using Flask.
    </p>

    <p>
        It allows administrators to manage employees, users,
        authentication, employee records, and activity logs.
    </p>

    <p>
        This project is being developed as a portfolio project
        to practice professional backend development with Flask,
        SQLAlchemy, authentication, authorization, and Blueprints.
    </p>

</div>

{% endblock %}