{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>About This Project</h2>

        <hr>

        <p>
            This Employee Management System is built using Flask.
        </p>

        <p>
            It allows administrators to manage employees, departments,
            authentication, and much more.
        </p>

        <p>
            This project is being developed as a portfolio project to practice
            backend development with Flask.
        </p>

    </div>

</div>

{% endblock %}